{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Camden</h1>
    
        <!-- <h2 class="govuk-heading-s">Dedicated schools grant (DSG) for financial year 2019 to 2020</h2> -->
            <table class="govuk-table" >
                <caption class="govuk-table__caption">Dedicated schools grant (DSG) for financial year 2019 to 2020</caption>
                    
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            <span class="govuk-!-font-weight-regular"><a href="#">Current (published March 2019)</a></span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                                <span class="govuk-!-font-weight-bold">
                                    £162,322,000
                                </span>
                        </td>
                        <!-- <td class="govuk-table__cell govuk-table__cell--numeric">
                                &nbsp;
                        </td> -->
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            <span class="govuk-!-font-weight-regular govuk-!-font-size-16"><a href="#">February 2019</a></span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                                <span class="govuk-!-font-weight-regular govuk-!-font-size-16">
                                    £158,320,865
                                    </span>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            <span class="govuk-!-font-weight-regular govuk-!-font-size-16"><a href="#">January 2019</a></span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                                <span class="govuk-!-font-weight-regular govuk-!-font-size-16"> £153,870,865</span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>

            <!-- <h2 class="govuk-heading-s">PE Grant 2019 to 2020</h2> -->

            <table class="govuk-table" >
                    <caption class="govuk-table__caption">PE Grant 2019 to 2020</caption>
                        
                    <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                            <th class="govuk-table__header" scope="row">
                                <span class="govuk-!-font-weight-regular"><a href="#">March 2019</a></span>
                            </th>
                            <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <span class="govuk-!-font-weight-bold">
                                        £236,976
                                    </span>
                            </td>
                        </tr>
                    </tbody>
                </table><br>

                <!-- <h2 class="govuk-heading-s">Pupil premium 2018 to 2019</h2> -->

                <table class="govuk-table" >
                        <caption class="govuk-table__caption">Pupil premium 2018 to 2019</caption>
                            
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">
                                    <span class="govuk-!-font-weight-regular"><a href="#">April 2019</a></span>
                                </th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                        <span class="govuk-!-font-weight-bold">
                                            £162,322
                                        </span>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">
                                    <span class="govuk-!-font-weight-regular govuk-!-font-size-16"><a href="#">February 2019</a></span>
                                </th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                        <span class="govuk-!-font-weight-regular govuk-!-font-size-16">
                                            £158,320
                                            </span>
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header" scope="row">
                                    <span class="govuk-!-font-weight-regular govuk-!-font-size-16"><a href="#">January 2019</a></span>
                                </th>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                        <span class="govuk-!-font-weight-regular govuk-!-font-size-16"> £153,870</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>


            <!-- <table class="govuk-table">

                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Funding stream</th>
                        <th class="govuk-table__header" scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Dedicated schools grant (DSG) for financial year 2019 to 2020<br>
                            <span class="govuk-!-font-weight-regular">March 2019</span>
                            <br>
                            <span class="govuk-!-font-weight-regular govuk-!-font-size-16">Updates:</span>
                        </th>
                        <td class="govuk-table__cell">£162,322,000<br>
                            <span class="govuk-body-s">After recoupment and deductions</span>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">PE and sport premium for academic year 2018 to 2019<br>
                            <span class="govuk-!-font-weight-regular">April 2019</span>
                        </th>
                        <td class="govuk-table__cell">£850,660</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Pupil premium for financial year 2018 to 2019<br>
                            <span class="govuk-!-font-weight-regular">March 2019</span>
                        </th>
                        <td class="govuk-table__cell">£2,279,658</td>
                      </tr>
                    </tbody>
                  </table> -->



    </div>
</div>

{% endblock %}