{% extends "layout.html" %}

{% set _inError = myData.validationError == "true"  %}

{% block pageTitle %} 
{% if _inError %}Error: {% endif %}Enter the third digit
{% endblock %}

{% block beforeContent %}
    {% include "includes/alpha-banner.html" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {% include "includes/back-link.html" %}
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

        {% if _inError %}
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    {% for name, item in myData.validationErrors %}
                    <li>
                        <a href="#{{item.anchor}}">{{item.message}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <form method="POST">

            <div class="govuk-form-group {% if _inError %}govuk-form-group--error{% endif %}">

                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--xl" for="sortCodeThird">
                        Enter the third digit
                    </label>
                </h1>

                {% if _inError %}
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{myData.validationErrors.sortCodeThird.message}}
                </p>
                {% endif %}

                <input class="govuk-input govuk-input--width-2" id="sortCodeThird" name="sortCodeThird" type="text" spellcheck="false" value="{{myData.sortCodeThird}}" >

            </div>

            {{govukButton({
                text: "Continue"
            })}}

        </form>

    </div>

</div>

{% endblock %}

{% block pageScripts %}
<script>


</script>
{% endblock pageScripts %}
