
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK Prototype Kit - Demos
        <span class="govuk-caption-xl">Dave Haigh _ Interaction Designer</span>
      </h1>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/demo/table">Table</a></li>
        <li><a href="/demo/form-save">Form - save and return</a></li>
        <li><a href="/sort-code/sort-code-know?r=t">Sort code</a></li>
      </ul>
    </div>
</div>

{% endblock %}
